ProductManagementSystemWebApi/ProductManagementSystemWebApi/obj/
ProductManagementSystemWebApi/ProductManagementSystemWebApi/bin/
ProductManagementSystemDAL/ProductManagementSystemDAL/bin/
ProductManagementSystemDAL/ProductManagementSystemDAL/obj/
